Repository vechain/grant-program, pull requests merged in 2023-12, with the labels that each got.

#168 Mileston 1 of Mobile v3 swap
  milestone-delivery/deliveries/mobile-v3-swap-milestone-1.md
Labels: milestone delivery

#207 cypress
  Vechain-EasyA-Hackathon-Boston-Oct-2023/applications/cypress.md
Labels: easyA

#186 Infinity Wallet Grant Application
  applications/infinity-wallet.md
Labels: confirmation requested

#191 Extractor Grant Application
  applications/extractor.md
Labels: confirmation requested

#213 FibreTag - Milestone 1
  Vechain-EasyA-Hackathon-Boston-Oct-2023/applications/FibreTag.md
  Vechain-EasyA-Hackathon-Boston-Oct-2023/milestone-deliveries/fibretag-1.md
Labels: milestone delivery, easyA
