Repository vechain/grant-program, pull requests merged in 2024-08, with the labels that each got.

#252 Update miden.md - reordered sequence of milestones
  applications/miden.md
Labels: request changes

#249 Sozo inFashion Milestone 1 Delivery
  milestone-delivery/deliveries/sozo_infashion-milestone_1.md
Labels: milestone delivery

#250 FibreTag M3 Delivery
  Vechain-EasyA-Hackathon-Boston-Oct-2023/milestone-deliveries/fibretag-3.md
Labels: milestone delivery

#251 Delivery/vearn milestone 3
  milestone-delivery/deliveries/vefarm_milestone_3.md
Labels: milestone delivery

#253 Grant Extractor (M1, M2 and M3 deliverables)
  milestone-delivery/deliveries/extractor-M1.md
  milestone-delivery/deliveries/extractor-M2.md
  milestone-delivery/deliveries/extractor-M3.md
Labels: milestone delivery

#257 Update accepted_grant_applications.md
  Vechain-EasyA-Hackathon-Boston-Oct-2023/accepted_vechain-easyA_hackathon_applications.md
  accepted_grant_applications.md
Labels: update docs
